@import url("https://fonts.googleapis.com/css2?family=Alata&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=League+Spartan:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
}
body nav {
  width: 100%;
  height: 4rem;
  top: 0;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.1568627451);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  position: fixed;
  padding: 10px;
}
body nav .mobile-bar {
  display: none;
}
body nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
body nav ul li {
  margin: 1rem;
}
body .s1 {
  height: 100vh;
  background-image: url(/images/s1-lemon.png);
  background-size: cover;
  background-position: center;
}
body .s1 h1 {
  letter-spacing: 8.75px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 56px;
}
body .s2 {
  width: 100%;
  display: flex;
}
body .s2 .block1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 45px;
}
body .s2 .block1-mobile {
  display: none;
}
body .s2 .block2 {
  width: 50%;
}
body .s2 .block2 .block2-mobile {
  display: none;
}
body .s2 .block2 img {
  width: 100%;
}
body .s3 {
  width: 100%;
  display: flex;
}
body .s3 .block1 {
  width: 50%;
}
body .s3 .block1 img {
  width: 100%;
}
body .s3 .block2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 45px;
}
body .s3 .block2-mobile {
  display: none;
}
body .s4 {
  width: 100%;
  display: flex;
  height: 95vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body .s4 .block1 {
  width: 50%;
  display: flex;
  justify-content: end;
  flex-direction: column;
  text-align: center;
  background-image: url(/images/s4-img1-cherry.jpg);
  font-size: 15px;
  padding: 0 100px;
}
body .s4 .block1 h1 {
  padding-bottom: 10px;
}
body .s4 .block1 p {
  padding-bottom: 45px;
}
body .s4 .block2 {
  width: 50%;
  display: flex;
  justify-content: end;
  flex-direction: column;
  text-align: center;
  background-image: url(/images/s4-img2-mandarin.jpg);
  font-size: 15px;
  padding: 0 100px;
}
body .s4 .block2 h1 {
  padding-bottom: 10px;
}
body .s4 .block2 p {
  padding-bottom: 45px;
}
body .s5 {
  padding-top: 100px;
  text-align: center;
}
body .s5 h2 {
  font-family: Fraunces;
  opacity: 0.6;
  letter-spacing: 8px;
}
body .s5 ul {
  list-style-type: none;
  display: flex;
  padding: 50px;
}
body .s5 ul li {
  padding: 2rem;
}
body .s6 {
  display: flex;
}
body .s6 img {
  width: 25%;
}
body footer {
  background-color: #86C5B8;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
body footer img {
  width: 200px;
  margin: 20px 0;
}
body footer ul li {
  display: inline-block;
  color: #2C7566;
  margin: 0 20px;
}
body footer ul li:hover {
  cursor: pointer;
}
body footer ul i {
  margin: 0 10px;
  color: #2C7566;
}
body footer ul i:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  body nav {
    padding: 20px;
  }
  body nav ul {
    display: none;
  }
  body nav .mobile-bar {
    display: block;
    font-size: 30px;
  }
  body .s1 {
    text-align: center;
  }
  body .s2 {
    flex-direction: column-reverse;
    text-align: center;
  }
  body .s2 .block1 {
    display: none;
  }
  body .s2 .block1-mobile {
    width: 100%;
    display: block;
    padding: 50px 20px;
  }
  body .s2 .block1-mobile h1 {
    font-weight: 900;
    font-family: Fraunces;
    font-size: 35px;
  }
  body .s2 .block1-mobile p {
    opacity: 0.7;
    font-size: 30px;
  }
  body .s2 .block1-mobile h4 {
    font-weight: 900;
    font-family: Fraunces;
  }
  body .s2 .block2 {
    width: 100%;
  }
  body .s2 .block2-mobile {
    display: block;
  }
  body .s3 {
    flex-direction: column;
    text-align: center;
  }
  body .s3 .block1 {
    width: 100%;
  }
  body .s3 .block2 {
    display: none;
  }
  body .s3 .block2-mobile {
    display: block;
    padding: 50px 20px;
  }
  body .s3 .block2-mobile h1 {
    font-weight: 900;
    font-family: Fraunces;
    font-size: 35px;
  }
  body .s3 .block2-mobile p {
    opacity: 0.7;
    font-size: 30px;
  }
  body .s3 .block2-mobile h4 {
    font-weight: 900;
    font-family: Fraunces;
  }
  body .s4 {
    flex-direction: column;
    height: 160vh;
  }
  body .s4 .block1 {
    width: 100%;
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
  }
  body .s4 .block2 {
    width: 100%;
    height: 80vh;
    background-position: center;
  }
  body .s5 h2 {
    font-size: 20px;
    font-weight: 900;
  }
  body .s5 ul {
    flex-direction: column;
  }
  body .s5 ul li {
    font-size: 20px;
    font-weight: 600;
    font-family: Fraunces;
  }
  body .s5 ul li :nth-child(4) {
    opacity: 0.5;
  }
  body .s6 {
    flex-wrap: wrap;
  }
  body .s6 img {
    width: 50%;
  }
  body footer ul {
    font-size: 20px;
  }
}/*# sourceMappingURL=style.css.map */