:root {
    --primary-color: #ffffff;
    --background: #1d1e2a;
    --greys: #d1d2da;
    --secondary-color: #9495a5;
    --placeholder: #9495a5;
    --text: #494c6b;
    --active: #3a7cfd;
    --shadow: #47486280;
    --color: #e3e4f1;
    --linear: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
}