@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Roboto+Slab:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    .hide {
        display: none !important;
    }

    .show {
        display: block !important;
    }

    .input-error {
        border: red solid 2px !important;
    }

    .active {
        background-color: tomato !important;
        color: #1E213F !important;
    }

    .active-font {
        background-color: #161932 !important;
        color: #fff !important;
    }

    .active-color {
        color: #000 !important;
    }

    .container {
        position: relative;
        height: 100vh;
        font-family: "Kumbh Sans", sans-serif;
        background-color: #1E213F;
        display: flex;
        flex-direction: column;
        color: white;
        justify-content: space-around;
        align-items: center;
        user-select: none;

        nav {
            display: flex;
            align-self: center;
            justify-content: space-between;
            padding: 15px;
            border-radius: 20px;
            gap: 20px;
            background-color: #161931;
            text-decoration: none;

            p {
                padding: 10px;
                border-radius: 15px;
                color: #D7E0FF;
                text-align: center;
                font-family: "Roboto Slab";
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }

        .round {
            border: #E4593F solid 10px;
            width: 250px;
            height: 250px;
            padding: 20px;
            border-radius: 50%;
            background-color: #161931;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            div {
                width: 180px;
                font-size: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
            }


            h1 {
                font-size: 50px;
            }

            .start-btn {
                padding: 5px;
                cursor: pointer;
                letter-spacing: 10px;
                font-weight: 600;
            }

        }

        .set-wrapper {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            position: absolute;
            top: 0;

            .set-modal {
                width: 400px;
                border-radius: 20px;
                background-color: #fff;
                padding: 20px;
                color: #161932;
                display: flex;
                flex-direction: column;
                justify-content: center;


                .title {
                    display: flex;
                    justify-content: space-between;
                    display: flex;
                    align-items: center;

                    h2 {
                        font-size: 28px;
                        font-weight: 700;
                    }

                    img {
                        height: 25px;
                    }
                }

                .timeMinutes {
                    font-size: 13px;
                    font-weight: 700;
                    letter-spacing: 5px;
                }

                .inputs {
                    display: flex;
                    justify-content: space-between;

                    div {
                        width: 30%;

                        p {
                            font-size: 12px;
                            font-weight: 700;
                            opacity: 0.6;
                            padding: 10px 0;
                        }

                        input {
                            width: 100%;
                            border-radius: 10px;
                            border: none;
                            background-color: #EAECF5;
                            padding: 10px;
                            border: none;
                            font-size: 14px;
                            font-weight: 700;
                        }
                    }
                }

                .font,
                .color {
                    
                    display: flex;
                    justify-content: space-between;
                    padding: 20px 0;

                    ul {
                        display: flex;
                        list-style: none;

                        li {
                            padding: 10px;
                            border-radius: 50%;
                        }

                        .roboto {
                            font-family: "Roboto Slab", serif;
                        }

                        .space {
                            font-family: "Space Mono", monospace;
                        }
                    }
                }

                .color {
                   

                    ul {
                        display: flex;
                        gap: 10px;

                        li {
                            padding: 10px 12px;
                            color: transparent;
                        }
                    }
                }

                .apply {
                    margin: 0 auto;
                    padding: 12px 40px;
                    border: none;
                    color: #FFF;
                    font-size: 16px;
                    font-weight: 700;
                    background-color: tomato;
                    border-radius: 30px;
                    transform: translateY(40px);
                }
            }
        }
    }

}