@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    width: 100%;
    background-color: black;
    color: white;
    padding: 50px;
    display: flex;
    gap: 50px;

    .res {
        width: 150px;
        height: 150px;
        border: white solid 2px;
    }

    .random {
        width: 100px;
        height: 30px;
    }

    .show {
        width: 50px;
        height: 30px;

           }
}