* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1290px;
    min-height: 100vh;
    background-color: #E0F1E8;
    font-family: sans-serif;
    position: relative;
    display: flex;
    padding: 20px;
    justify-content: center;

    form {
        margin: 0px auto;
        max-width: 580px;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        padding: 25px;
        justify-content: space-between;
        row-gap: 20px;

        h1 {
            flex-basis: 100%;
        }

        .textWrap {
            flex-basis: 100%;

            textarea {
                padding: 4px;
            }
        }

        label {
            flex-basis: 45%;

            p {
                padding-bottom: 20px;
                font-weight: 400;
                font-size: 15px;
            }

            input {
                width: 100%;
                padding: 10px;
                border-radius: 10px;
                border: rgba(0, 0, 0, 0.297) 2px solid;
            }

            textarea {
                width: 100%;
                border: rgba(0, 0, 0, 0.297) 2px solid;
            }
        }

        .email {
            flex-basis: 100%;
        }

        p {
            flex-basis: 100%;
        }

        .query {
            border: rgba(0, 0, 0, 0.297) 2px solid;
            display: flex;
            align-items: center;
            padding: 10px;
            border-radius: 10px;
            gap: 10px;
        }

        p {

            input {
                margin-right: 10px;
            }

            span {
                display: none;
                font-style: italic;
                color: red;
                font-size: 14px;
                font-weight: 400;
            }
        }

        .chackboxWrap {
            height: 40px;
        }

        .submitBtn {
            flex-basis: 100%;
            padding: 15px;
            border-radius: 10px;
            background-color: #0C7D69;
            border: none;
            color: white;
            font-weight: 700;
        }
    }

    .message {
        width: 340px;
        background-color: #2A4144;
        color: white;
        padding: 20px;
        border: rgba(0, 0, 0, 0.297) solid 2px;
        border-radius: 10px;
        font-size: 12px;
        position: absolute;
        top: 20px;
        display: none;
    }
}