@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    .container {

        height: 100vh;
        font-family: "Kumbh Sans", sans-serif;
        background-image: url(/img/background.png);
        background-size: cover;
        display: flex;
        flex-direction: column;
        color: white;
        align-items: center;
        justify-content: space-around;
        user-select: none;

        h1 {
            font-size: 25px;
        }

        .cards {
            padding-top: 40px;
            display: flex;
            gap: 20px;
            text-align: center;

            .card {
                div {
                    background-color: #2C2E44;
                    border-radius: 10px;
                    width: 50px;
                    height: 50px;
                    padding-top: 10px;
                }

                b {
                    padding-top: 15px;
                    font-size: 10px;
                }
            }


        }

        ul {
            display: flex;
            gap: 15px;
        }
    }
}